@model IEnumerable<OS.ViewModels.CodeDescription>

@{ 
    Layout = "";
}

<table class="table">
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modalItem => item.Code)</td>
        <td>@Html.DisplayFor(modalItem => item.Description)</td>
        <td><button type="button" onclick="AdvSearchSelTwo('@item.Code','@item.Description')">select</button></td>
    </tr>
    }

</table>
